.btn-group {
    position: absolute;
    right: 12px;
    bottom: -7px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1 1;
    justify-content: space-around;
    button {
        font-size: 13px;
        text-align: center;
        padding: 7px 12px;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        box-shadow: 2px 2px 0px 0px rgba(32, 33, 36, 0.2784313725);
        &.btn-booking-begin {
            background: #4caf50;
        }

        &.btn-booking-end {
            background: var(--bg-close);
            text-transform: uppercase;
        }
    }
}

.order-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    border-top: 1px solid #ccc;
    .order-item {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex: auto;
        gap: 5px;
        padding: 5px 5px 5px;
        border-bottom: 1px solid #ccc;
        width: 100%;
        background: #fff;
        .thumbnail {
            position: relative;
            border: 1px solid #009688;
            border-radius: 5px;
            overflow: hidden;
            width: 50px;
            height: 50px;
            img {
                max-width: 100%;
            }
            .store {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 2px;
                top: 2px;
                background: #03a9f4;
                color: #fff;
                border-radius: 50px;
                width: 18px;
                height: 18px;
                font-size: 13px;
            }
        }
        .name {
            font-size: 16px;
            font-weight: 500;
            flex: 1;
            h4 {
                font-weight: 500;
            }
            span {
                font-size: 12px;
                font-weight: 600;
            }
        }
        .quantity {
            color: #ff5722;
        }
        .unit {
            color: var(--bg-primary);
        }
        .price {
            color: #ff5722;
            font-weight: 600;
        }
    }
}
.status {
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    border: 1px solid var(--bg-default);
    &.status-0 {
        color: var(--order-open);
        border: 1px solid var(--order-open);
    }
    &.status-1 {
        color: var(--order-close);
        border: 1px solid var(--order-close);
    }
}
.cart-price {
    position: absolute;
    bottom: 0;
    right: 12px;
    strong {
        color: #ff5722;
    }
}
.time-ago {
    font-size: 10px;
    white-space: nowrap;
    color: #ff5722;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background: #fff;
    margin-bottom: 10px;
    thead {
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 5px 7px;
            color: var(--primary);
            border-bottom: 1px dashed var(--primary);
            text-align: left;
            background: #efefef;
            &.text-center {
                text-align: center;
            }
            &.text-right {
                text-align: right;
            }
        }
    }
    tbody {
        tr {
            color: var(--primary);
            td {
                border-bottom: 1px solid #f2f2f2;
                padding: 7px 10px;
                line-height: 1.25;
                &.text-center {
                    text-align: center;
                }
                &.text-right {
                    text-align: right;
                }
            }
        }
    }
    tfoot {
        tr {
            border-top: 1px dashed var(--primary);
            td {
                padding: 10px;
                &.text-center {
                    text-align: center;
                }
                &.text-right {
                    text-align: right;
                }
            }
        }
    }
}
.group-row {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
