.orders {
    padding: 0.5em 1em 2em;
}
.order-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-around;
    .order-item {
        position: relative;
        padding: 7px 12px 7px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        min-height: 85px;
        background: #fff;
        margin-bottom: 10px;
        ul {
            list-style: none;
            li {
                font-size: 12px;
                display: flex;
                width: 150px;
                justify-content: space-between;
                border-bottom: 1px dashed #ccc;
                .quantity {
                    white-space: nowrap;
                }
            }
        }
        .date {
            position: absolute;
            right: 12px;
            top: 8px;
            font-size: 0.75em;
            font-style: italic;
            font-weight: 500;
            text-align: right;
            .time-ago {
                color: #ff9800;
            }
        }
        .order-edit {
            color: var(--bg-primary);
        }
        .quantity {
            color: red;
            font-weight: 600;
        }
        .price {
            color: #ff5722;
            font-weight: 600;
            width: 100px;
            text-align: right;
        }
        .status {
            position: relative;
            display: inline-block;
            padding: 2px 5px;
            font-size: 11px;
            border-radius: 4px;
            color: #fff;
            text-align: center;
            border: 1px solid var(--bg-default);
            &.status-0 {
                color: var(--order-open);
                border: 1px solid var(--order-open);
            }
            &.status-2 {
                color: var(--order-close);
                border: 1px solid var(--order-close);
            }
        }
        .details {
            margin-bottom: 5px;
        }
        .btn-group {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 3px;
            &.hide {
                display: none;
            }
            button {
                text-transform: uppercase;
                width: auto;
                padding: 7px 5px;
                border-radius: 4px;
                font-size: 13px;
                background: var(--bg-primary);
                color: #fff;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                opacity: 0.9;
                &:hover {
                    opacity: 1;
                }
                &.btn-print {
                    display: flex;
                    gap: 3px;
                }
            }
        }
    }
}
