.tr {
    border-top: 1px solid #f2f2f2;
}
.thumbnail {
    position: relative;
    border: 1px solid #009688;
    border-radius: 5px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    img {
        max-width: 100%;
    }
}
.btn-remove {
    color: red;
    background: #fff;
    border: 1px solid red;
    border-radius: 3px;
}
.btn-group {
    display: flex;
    gap: 5px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    background: #fff;
    button {
        width: 30px;
        height: 30px;
        background: #009688;
        color: #fff;
        border-radius: 100%;
        cursor: pointer;
    }
    .quantity {
        display: none;
        &.show {
            display: block;
        }
    }
    .btn-minus {
        display: none;
        &.show {
            display: block;
            background: transparent;
            color: #009688;
        }
    }
    .btn-add {
        &.show {
            display: block;
            background: transparent;
            color: #009688;
        }
    }
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 1px 6px 0 #20212447;
    z-index: 3;
    .footer-row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        flex: auto;
        padding: 15px 10px;
        background: transparent;
        color: var(--bg-primary);
        svg {
            font-size: 22px;
        }
        &.btn-close {
            color: #ff5722;
        }
        &.total-cart-price {
            font-size: 22px;
            color: #ff5722;
        }
    }
}
