.customer-row {
    position: relative;
    background: #fffbd8;
    border-top: 1px solid #ccc;
    text-align: left;
    padding: 10px;
    .btn-add {
        position: absolute;
        right: 7px;
        bottom: 5px;
        width: auto;
        padding: 5px 12px;
        border-radius: 4px;
        font-size: 13px;
        background: var(--bg-primary);
        color: #fff;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.9;
    }
}
.order-row {
    flex-wrap: wrap;
    margin-bottom: 2em;
    border-top: 1px solid #ccc;
    justify-content: space-around;
    .order-item {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex: auto;
        gap: 5px;
        padding: 5px 5px 5px;
        border-bottom: 1px solid #efeaea;
        width: 100%;
        background: #fff;
        margin-bottom: 10px;
        .date {
            font-size: 0.75em;
            font-style: italic;
            font-weight: 500;
            text-align: right;
        }
        .time-ago {
            color: #ff9800;
        }
    }
}
