.order-lists {
    padding-bottom: 35px;
}
.order-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    border-top: 1px solid #ccc;
    .order-item {
        position: relative;
        display: flex;
        align-items: flex-end;
        flex: auto;
        gap: 5px;
        padding: 5px 5px 5px;
        border-bottom: 1px solid #efeaea;
        width: 100%;
        .thumbnail {
            position: relative;
            border: 1px solid #efeaea;
            border-radius: 5px;
            overflow: hidden;
            width: 50px;
            height: 50px;
            img {
                max-width: 100%;
            }
            .store {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 2px;
                top: 2px;
                background: #03a9f4;
                color: #fff;
                border-radius: 50px;
                width: 18px;
                height: 18px;
                font-size: 13px;
            }
        }
        .btn-group {
            display: flex;
            gap: 5px;
            height: 30px;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            border-radius: 20px 20px 20px 20px;
            background: #fff;
            button {
                width: 30px;
                height: 30px;
                background: #009688;
                color: #fff;
                border-radius: 100%;
                cursor: pointer;
            }
            .quantity {
                display: none;
                &.show {
                    display: block;
                }
            }
            .btn-minus {
                display: none;
                &.show {
                    display: block;
                    background: transparent;
                    color: #009688;
                }
            }
            .btn-add {
                &.show {
                    display: block;
                    background: transparent;
                    color: #009688;
                }
            }
        }
        .name {
            font-size: 16px;
            font-weight: 500;
            flex: 1;
            h4 {
                font-weight: 500;
            }
            span {
                font-size: 12px;
                font-weight: 600;
                color: var(--bg-primary);
            }
        }
        .price {
            color: #ff5722;
            font-weight: 600;
            width: 100px;
            text-align: right;
        }
    }
}
