@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #212529;
    --bg-primary: #1276c5;
    --bg-default: #9e9e9e;
    --bg-success: #009688;
    --s-new: #4caf50;
    --s-ordering: #ff5722;
    --header-height: 60px;
    --footer-height: 50px;
    --sidebar-width: 90px;
    --border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background: #fff;
    margin-bottom: 10px;
    thead {
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 5px 7px;
            color: var(--primary);
            border-bottom: 1px dashed var(--primary);
            text-align: left;
            background: #efefef;
            &.text-center {
                text-align: center;
            }
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #f1f1f1;
            color: var(--primary);
            td {
                padding: 5px;
                &.text-center {
                    text-align: center;
                }
                &.text-right {
                    text-align: right;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    tfoot {
        tr {
            border-top: 1px dashed var(--primary);
            td {
                padding: 10px;
                &.text-center {
                    text-align: center;
                }
                &.text-right {
                    text-align: right;
                }
            }
        }
    }
}
.nav-link.active {
    color: #fff;
    background: #f44336;
}
.container {
    display: flex;
}
.content {
    width: calc(100%);
    min-height: calc(100vh - var(--header-height));
    background: #f2f2f2;
    padding: 0 0 3rem;
}

input,
select {
    display: block;
    width: 100%;
    height: 46px;
    padding: 0.375rem 0.75rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary);
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    outline: none;
}
input[type='radio' i] {
    height: 18px;
    cursor: pointer;
}
button {
    padding: 0.375rem 0.75rem;
    border: none;
}
button:disabled,
button[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
}
.btn-primary {
    height: 46px;
    color: #fff;
    background: var(--bg-primary);
    border: 1px solid var(--bg-primary);
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.form-row {
    display: flex;
    gap: 4px;
    align-items: flex-end;
    margin-bottom: 1em;
    padding: 0 1em;
    .col {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
    }
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    .tab-item {
        padding: 5px 10px;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        &.active {
            font-weight: 600;
            color: var(--bg-primary);
            border-bottom: 2px solid var(--bg-primary);
        }
    }
}
.tab-content {
    display: none;
    &.active {
        display: block;
    }
}
.print-wrapper {
    margin: 0 auto;
}
@meida print {
    * {
        display: none;
    }
    #print-content {
        display: auto;
    }
}

.btn-detail {
    width: auto;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 13px;
    background: var(--bg-primary);
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    &:hover {
        opacity: 1;
    }
}

.page-title {
    background: #03a9f4;
    font-size: 18px;
    padding: 1rem;
    color: #ffeb3b;
}
.load-more {
    margin: 0 auto;
    display: block;
    width: auto;
    padding: 7px 25px;
    border-radius: 4px;
    font-size: 13px;
    background: var(--bg-primary);
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
