aside.sidebar {
    position: fixed;
    max-width: var(--sidebar-width, 90px);
    height: calc(100vh - var(--header-height));
    background: #2196f3;
    ul {
        list-style-type: none;
    }
    svg {
        color: #fff;
        font-size: 3rem;
    }
    a {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        text-align: center;
        color: #672c17;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px solid #f2f2f2;
    }
}
