.print-header {
    text-align: center;
    padding: 1em 1em 1em;
    border-bottom: 1px double var(--primary);
    h3 {
        font-size: 24px;
    }
}
.print-body {
    .customer {
        margin: 0.7em 0 1em;
    }
    .customer-row {
        display: flex;
        justify-content: space-between;
    }
    .price {
        font-weight: 500;
    }
    .total {
        font-weight: 600;
        color: #ff5722;
    }
}
