.customer-search {
    display: flex;
    justify-content: center;
    align-items: center;
    button.btn-search {
        width: 50px;
        height: 44px;
        cursor: pointer;
        font-size: 20px;
        color: #2196f3;
        background: #fff;
    }
}
.customer {
    padding: 0.5rem 1rem 2rem;
}
.customer-item {
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 80px;
    padding: 1rem 1rem 2rem;
    margin-bottom: 1em;
    border: 1px solid;
    &:first-child {
        margin-top: 1rem;
    }
    &.new {
        border-color: var(--s-new);
    }
    &.ordering {
        border-color: var(--s-ordering);
    }
    .number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #ff5722;
        color: #fff;
    }
    .code {
        display: inline;
        color: #03a9f4;
        font-weight: 500;
    }
    .date {
        position: absolute;
        right: 7px;
        top: 3px;
        font-size: 0.75em;
        font-style: italic;
        font-weight: 500;
        .time-ago {
            color: #ff9800;
        }
    }
    .type {
        font-weight: 800;
    }
    .price {
        position: absolute;
        right: 8px;
        top: 20px;
        font-size: 1.25em;
        font-style: normal;
        font-weight: 500;
        color: red;
    }
    .status {
        display: inline-block;
        padding: 2px 5px;
        font-size: 13px;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        background: var(--bg-default);
        &.new {
            background: var(--s-new);
        }
        &.ordering {
            background: var(--s-ordering);
        }
        &.processing {
            background: var(--s-processing);
        }
    }

    .customer-action {
        position: absolute;
        right: 4px;
        bottom: 5px;
        display: flex;
        gap: 3px;
        .customer-services {
            display: flex;
            align-items: flex-end;
        }
        .service {
            background: #00bcd4;
            color: #fff;
            width: 25px;
            height: 25px;
            display: inline-flex;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
        }
        .btn-detail {
            width: auto;
            padding: 5px 12px;
            border-radius: 4px;
            font-size: 13px;
            background: var(--bg-primary);
            color: #fff;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
        }
    }
    .btn-action {
        position: absolute;
        display: flex;
        gap: 4px;
        right: 4px;
        bottom: 5px;
        button {
            font-size: 18px;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            &.btn-order-edit {
                color: #fff;
                background: var(--bg-default);
            }
            &.btn-order-add {
                color: #fff;
                background: var(--bg-primary);
            }
            &.btn-order-remove {
                color: #fff;
                background: #e01c0e;
            }
        }
    }
}
.btn-group {
    right: 5px;
    bottom: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    background: #fff;
    button {
        width: 30px;
        height: 30px;
        background: #009688;
        color: #fff;
        border-radius: 100%;
        cursor: pointer;
    }
}

.btn-edit,
.btn-remove {
    cursor: pointer;
}
.btn-remove {
    color: #fff;
    background: red;
    border-radius: 4px;
}

.order-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    border-top: 1px solid #ccc;
    .order-item {
        position: relative;
        display: flex;
        align-items: flex-end;
        flex: auto;
        gap: 5px;
        padding: 5px 5px 5px;
        border-bottom: 1px solid #ccc;
        width: 100%;
        background: #fff;
        .thumbnail {
            position: relative;
            border: 1px solid #009688;
            border-radius: 5px;
            overflow: hidden;
            width: 50px;
            height: 50px;
            img {
                max-width: 100%;
            }
            .store {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 2px;
                top: 2px;
                background: #03a9f4;
                color: #fff;
                border-radius: 50px;
                width: 18px;
                height: 18px;
                font-size: 13px;
            }
        }
        .name {
            font-size: 16px;
            font-weight: 500;
            flex: 1;
            h4 {
                font-weight: 500;
            }
            span {
                font-size: 12px;
                font-weight: 600;
            }
        }
        .quantity {
            color: #ff5722;
        }
        .unit {
            color: var(--bg-primary);
        }
        .price {
            color: #ff5722;
            font-weight: 600;
        }
        .status {
            display: inline-block;
            padding: 2px 5px;
            font-size: 11px;
            border-radius: 4px;
            color: #fff;
            text-align: center;
            background: var(--bg-default);
            &.holding {
                background: var(--bg-default);
            }
            &.ok {
                background: var(--bg-success);
            }
            &.doing {
            }
        }
    }
}
