.btn-user-add {
    background: #00bcd4;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 4px;
}
.btn-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 150px;
    border: 1px solid #009688;
    background: #fff;
}
