.right-sides {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: -3px 2px 1px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
    transform: translateX(100%);
    transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
    color: #333;
    &.show {
        transform: translateX(0);
    }
    .header {
        position: relative;
        > h3 {
            padding: 0.5em 1em 0.5em;
        }
        .btn-close {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 40px;
            height: 40px;
            border: 1px solid #f2f2f2;
            border-radius: 100%;
            background: #fff;
            color: #e91010;
            font-size: 2.5rem;
            background: transparent;
            cursor: pointer;
            opacity: 0.9;
            &:hover {
                background: #f2f2f2;
                opacity: 1;
            }
        }
    }
    .body {
        padding: 0 0 2em;
        overflow: auto;
        height: 100%;
    }

    .footer {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        border-top: 1px solid #ccc;
        button {
            flex: auto;
            padding: 10px;
            &.btn-yes {
                background: var(--bg-primary);
                color: #fff;
            }
            &.btn-close {
                background: #ff5722;
                color: #fff;
            }
        }
    }
}
